@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:wght@800&family=Roboto:wght@700&display=swap');
@import "tailwindcss";

.wrapper{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}

.news_container{
    max-width: 300px;
}